/* body {
  background-color: rosybrown;
  text-align: center;
  font-family: "Baskervville", serif;
  font-size: 30px;
}
.text-box {
  display: inline-block;
  justify-content: center;
  width: 175px;
} */

