.list {
  display: block;
  width: 50%;
  margin: auto;
  text-align: justify;
}

#btn {
  width: 1.5em;
  height: 1.5em;
  background: white;
  border: 1px;
  border-style: solid;
  border-color: lightslategray;
  border-radius: 50%;
  position: relative;
  top: 2px;
  -webkit-appearance: none;
}
#btn:checked {
  background-color: seagreen;
}
/* .btn:after {
  content: "";
  position: absolute;
  display: none;
} */

.li {
  padding: 1rem;
  font-size: 1.875rem;
  line-height: 3rem;
  font-weight: 100;
}

.striked {
  padding: 1rem;
  font-size: 1.875rem;
  line-height: 3rem;
  font-weight: 100;
  text-decoration: line-through;
}

/* m-8 p-4 px-10 w-1/2 text-3xl font-thin italic shadow-xl outline-none */
